/* general settings */
body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 10em;
  padding: 2em 8em;
}

.main-section {
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: 40px;
  max-width: 880px;
}

/* Projects section */

.ol-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.general-section .list-projects {
  display: flex;
  flex-direction: row;
}
.left {
  display: flex;
  flex: 2;
}

.left::after {
  content: '';
  border-bottom: 2px dotted black;
  flex: 2;
  margin: 0 0.4em;
}

/* Work experience section */

.job-position .orange-text {
  font-size: 25px;
  color: #fb6d3a;
}
.gray-data {
  font-size: 12px;
  color: #a8a8a8;
}
.gray-data .veritical-line {
  font-size: 17px;
  color: black;
}

/* Aside dection */

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: #1e2939;
  height: 100vh;
  max-width: 354px;
}

aside .photo {
  margin-top: 2em;
}

aside .title-section-aside {
  color: #fb6d3a;
}

aside ul {
  color: white;
}
